.workouts {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}
.workouts:hover {
  background-color: #F0F8FF;
}
.workouts .exercise {
  font-weight: bold;
}
.workouts div {
  text-align: center
}
h1 {
    text-align: center
}
.searchbar {
	display: block;
    margin: auto;
    width: 40%;
    margin-bottom: 30px;
}
#nav {
    text-align: justify;
    min-width: 500px;
    padding-left: 40px;
    padding-right: 40px;

}
#nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#nav li {
    display: inline-block;
}
img {
    display: block;
    margin: auto;
    width: 40%;
}
.search{
  width : 500px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}