<div class="searchbar">  
  <form>
    <input class="search" type='text' ng-model="searchText" placeholder="Search Workouts">
  </form>
</div>
  <div class='workouts' ng-repeat="workout in data.workouts | filter: {Muscle: searchText}">
    <div class='exercise'>{{workout.Exercise}}</div>
    <div> Muscle: {{workout.Muscle}}</div>
    <div>Level: {{workout.Level}}</div>
    <div>Equipment needed: {{workout.Equipment}}</div>
    <br>
    <img src={{workout.Image}} style="width:auto; height:350px;" ng-click="show = !show">
    <br>
    <div ng-show="show">{{workout.Guide}}</div>
  </div>